#container{
    width: 90%;
    margin: auto;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;

}

.card{
    text-align: center;
    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.card:hover{
    cursor: pointer;
    border: 1px solid #1a56db;
}

.img{
    width: 50%;
}
.h3{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.btn{
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #1a56db;

}

.btn:hover{
    cursor: pointer;
}