
#home{
    /* border: 1px solid lightgreen; */
    width: 85%;
    margin: auto;
    margin-top: 20px;
    padding: 10px;

}

.home1{
    /* border: 1px solid green; */
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    border-radius: 10px;


}

#p1{
    color: black;
}
#p1:hover{
    cursor: pointer;
    color: darkblue;
}


.home2{
    width: 21%;
    height: 200px;
    /* border: 1px solid blue; */
    border-radius: 10px;
}